body {
    background-color: rgb(46, 46, 63);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10%;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 56px;
}

p {
    padding-bottom: 50px;
    font-size: 20px;
}

button {
    font-size: 20px;
    color: white;
    background-color: rgb(110, 88, 207);
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}